/** 
 * All rights Reserved, Designed By www.maihaoche.com
*
 * @Package ${package.Service}
 * @author: MHC_Generater（duanzhang@maihaoche.com）
 * @date: 2018-04-16 20:35:12
 * @Copyright: 2017-2020 www.maihaoche.com Inc. All rights reserved.
 * 注意：本内容仅限于卖好车内部传阅，禁止外泄以及用于其他的商业目
 */
package ${package.Service};

import ${package.Entity}.${entity};
import com.mhc.framework.common.base.dal.BaseManager;

/**  
 * ${entity}Manager
 * $!{table.comment}
 * 
 * @author: MHC_Generater（duanzhang@maihaoche.com）
 * @since ${date}
 */
public interface ${entity}Manager extends BaseManager<${entity}> {

}
