<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.GalaxyLuggageLostRegistrCompensationRelationDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.GalaxyLuggageLostRegistrCompensationRelation">
                    <id column="lost_registr_compensation_relation_id" property="lostRegistrCompensationRelationId"/>
                    <result column="luggage_lost_compensation_record_id" property="luggageLostCompensationRecordId"/>
                    <result column="lost_registration_record_id" property="lostRegistrationRecordId"/>
                    <result column="deleted" property="deleted"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       lost_registr_compensation_relation_id,luggage_lost_compensation_record_id,lost_registration_record_id,deleted,gmt_create,gmt_modified
        </sql>
</mapper>