<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.LuggageLostRegistrationRecordDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.LuggageLostRegistrationRecord">
                    <id column="lost_registration_record_id" property="lostRegistrationRecordId"/>
                    <result column="register_record_no" property="registerRecordNo"/>
                    <result column="admin_id" property="adminId"/>
                    <result column="admin_name" property="adminName"/>
                    <result column="luggage_id" property="luggageId"/>
                    <result column="luggage_record_no" property="luggageRecordNo"/>
                    <result column="luggage_type_id" property="luggageTypeId"/>
                    <result column="depositor_name" property="depositorName"/>
                    <result column="depositor_phone" property="depositorPhone"/>
                    <result column="remark" property="remark"/>
                    <result column="deleted" property="deleted"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       lost_registration_record_id,register_record_no,admin_id,admin_name,luggage_id,luggage_record_no,luggage_type_id,depositor_name,depositor_phone,remark,deleted,gmt_create,gmt_modified
        </sql>
</mapper>
