<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.LuggageLostCompensationRecordDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.LuggageLostCompensationRecord">
                    <id column="luggage_lost_compensation_record_id" property="luggageLostCompensationRecordId"/>
                    <result column="lost_registration_record_id" property="lostRegistrationRecordId"/>
                    <result column="admin_id" property="adminId"/>
                    <result column="admin_name" property="adminName"/>
                    <result column="depositor_name" property="depositorName"/>
                    <result column="depositor_phone" property="depositorPhone"/>
                    <result column="luggage_type_id" property="luggageTypeId"/>
                    <result column="compensation_fee" property="compensationFee"/>
                    <result column="remark" property="remark"/>
                    <result column="deleted" property="deleted"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       luggage_lost_compensation_record_id,lost_registration_record_id,admin_id,admin_name,depositor_name,depositor_phone,luggage_type_id,compensation_fee,remark,deleted,gmt_create,gmt_modified
        </sql>
</mapper>