<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.LuggageOverdueRecordDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.LuggageOverdueRecord">
                    <id column="luggage_overdue_record_id" property="luggageOverdueRecordId"/>
                    <result column="admin_id" property="adminId"/>
                    <result column="luggage_id" property="luggageId"/>
                    <result column="luggage_record_code" property="luggageRecordCode"/>
                    <result column="admin_name" property="adminName"/>
                    <result column="depositor_name" property="depositorName"/>
                    <result column="depositor_phone" property="depositorPhone"/>
                    <result column="remark" property="remark"/>
                    <result column="status" property="status"/>
                    <result column="deleted" property="deleted"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>v
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       luggage_overdue_record_id,admin_id,luggage_id,luggage_record_code,admin_name,depositor_name,depositor_phone,remark,status,deleted,gmt_create,gmt_modified
        </sql>
</mapper>
