<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.PickupLuggageRecordDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.PickupLuggageRecord">
                    <id column="pickup_luggage_record_id" property="pickupLuggageRecordId"/>
                    <result column="pickup_record_no" property="pickupRecordNo"/>
                    <result column="luggage_id" property="luggageId"/>
                    <result column="admin_id" property="adminId"/>
                    <result column="admin_name" property="adminName"/>
                    <result column="picker_name" property="pickerName"/>
                    <result column="picker_phone" property="pickerPhone"/>
                    <result column="pickup_type" property="pickupType"/>
                    <result column="pick_up_time" property="pickUpTime"/>
                    <result column="deleted" property="deleted"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       pickup_luggage_record_id,pickup_record_no,luggage_id,admin_id,admin_name,picker_name,picker_phone,pickup_type,pick_up_time,deleted,gmt_create,gmt_modified
        </sql>
</mapper>
