<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.TurnoverRecordDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.TurnoverRecord">
                    <id column="turnover_record_id" property="turnoverRecordId"/>
                    <result column="luggage_id" property="luggageId"/>
                    <result column="admin_id" property="adminId"/>
                    <result column="fee" property="fee"/>
                    <result column="remark" property="remark"/>
                    <result column="deleted" property="deleted"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       turnover_record_id,luggage_id,admin_id,fee,remark,deleted,gmt_create,gmt_modified
        </sql>
</mapper>
