<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.TurnoverRecordDao">

    <select id="statisticsTurnoverByAdmin" parameterType="java.util.List"
            resultType="com.wuxiu.galaxy.api.dto.StatisticsResultDTO">
        SELECT gtr.admin_name as keyCode, sum(fee) as feeValue
        FROM galaxy_turnover_record gtr

        WHERE gtr.deleted = 0

        GROUP BY gtr.admin_name, gtr.admin_id

    </select>

    <select id="statisticsTurnoverByFeeType" parameterType="java.util.List"
            resultType="com.wuxiu.galaxy.api.dto.StatisticsResultDTO">
        SELECT gtr.fee_type_desc as keyCode, sum(fee) as feeValue
        FROM galaxy_turnover_record gtr

        WHERE gtr.deleted = 0

        GROUP BY gtr.fee_type_desc, gtr.fee_type
    </select>
</mapper>
