<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxiu.galaxy.dal.dao.WalletDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.wuxiu.galaxy.dal.domain.Wallet">
                    <id column="wallet_id" property="walletId"/>
                    <result column="user_id" property="userId"/>
                    <result column="user_name" property="userName"/>
                    <result column="balance" property="balance"/>
                    <result column="is_delete" property="isDelete"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
       wallet_id,user_id,user_name,balance,is_delete,gmt_create,gmt_modified
        </sql>
</mapper>